body {
background-color:coral
}
button {background-color:red;}
header {
height: 80px;
background-color:#6c63ff;
}

footer {
height: 80px;
background-color:#6c63ff;
}
h1{
color:blue;
text-align: center;
font-size: 44px;
}
a {color:white;}

